:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: #0f0f0f;
  background-color: #f6f6f6;
}

.container {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
  gap: 20px;
  flex: 1;
  overflow-x: auto;
}

.column {
  background-color: #ebedf0;
  border-radius: 8px;
  width: 300px;
  min-width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.column h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  padding-left: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
  .column {
    background-color: #1c1c1c;
  }
}
