name: Build
on:
  push:
    branches: [main]

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
      - name: setup rust
        uses: dtolnay/rust-toolchain@stable
      - name: install dependencies
        run: npm install
      - name: build tauri
        run: npm run tauri build
